<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_archive.css">
    <link rel="stylesheet" href="/css/style_gestion.css">
    <title>Archive</title>
</head>
<body>

    <!-- <div class="accueil">
        <header class="header">
            <div class="burger-menu">
                <a href="/component/sidebar">
                    <span class="burger-icon">☰</span>
                </a>
            </div>
            <h1 class="title">
                <span>Gestion des employés</span>
            </h1>
        </header>
    </div>
     -->
    <!-- Sidebar -->
    <!-- <nav class="sidebar">
        <div class="sidebar-logo">
            <img src="/image/image006.jpg" alt="Logo">
        </div>
        <ul class="sidebar-menu">
            <li><a href="../index.html"><img src="/image/3388840.png" alt="Accueil"><span>Accueil</span></a></li>
            <li><a href="../employe/gestion des employé.html"><img src="/image/631050.png" alt="Employé"><span>Employé</span></a></li>
            <li><a href="../departement/departement.html"><img src="/image/1570970.png" alt="Département"><span>Département</span></a></li>
            <li><a href="../poste/poste.html"><img src="/image/4994936.png" alt="Poste"><span>Poste</span></a></li>
            <li><a href="archive.html"><img src="/image/1343124.png" alt="Archive"><span>Archive</span></a></li>
        </ul>
        <div class="sidebar-deconnexion">
            <a href="../registre/connexion.html"><img src="/image/6811880.png" alt="déconnexion"><span>Déconnexion</span></a>
        </div>
    </nav> -->

     
    
        

    <div class="archi">
        <div class="archi2">
            <h1>Liste des Employés Archivés</h1>
        </div>
        <!-- <div class="gauche2">
        <button class="retour2">
<a href="index.html"><img src="/image/3585896.png" alt="retour"></a>
        </button>
    </div> -->

        <div class="gauche2">
          <button class="retour2">
              <a href="/employe/gestion des employé.html"><img src="/image/3585896.png" alt="retour"></a>
          </button>
       </div>

        <div id="archives-list"></div>

    </div>
    <div class="str">
  <p> <strong>Archive</strong></p>
    </div>
  <script src="/employe/script_archives.js"></script>
</body>
</html>