<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style_details.css">
<title>Gestion des employés</title>

</head>

<body>

    <!-- <div class="accueil">
        <header class="header">
            <div class="burger-menu">
                <a href="/component/sidebar">
                    <span class="burger-icon">☰</span>
                </a>
            </div>
            <h1 class="title">
                <span>Gestion des employés</span>
            </h1>
        </header>
    </div> -->
    
    <!-- Sidebar -->
    <!-- <nav class="sidebar">
        <div class="sidebar-logo">
            <img src="/image/image006.jpg" alt="Logo">
        </div>
        <ul class="sidebar-menu">
            <li><a href="../index.html"><img src="/image/3388840.png" alt="Accueil"><span>Accueil</span></a></li>
            <li><a href="../employe/gestion des employé.html"><img src="/image/631050.png" alt="Employé"><span>Employé</span></a></li>
            <li><a href="../departement/departement.html"><img src="/image/1570970.png" alt="Département"><span>Département</span></a></li>
            <li><a href="poste.html"><img src="/image/4994936.png" alt="Poste"><span>Poste</span></a></li>
            <li><a href="../archive/archive.html"><img src="/image/1343124.png" alt="Archive"><span>Archive</span></a></li>
        </ul>
        <div class="sidebar-deconnexion">
            <a href="../registre/connexion.html"><img src="/image/6811880.png" alt="déconnexion"><span>Déconnexion</span></a>
        </div>
    </nav> -->

<div class="container-details">

<header class="header-details">
gestion des employés
</header>

<div class="content-details">

<!-- PARTIE GAUCHE -->
<div class="profil-details">

  <div class="card-top-details">

  <div class="photo-details">
<p>wabo geovani</p>
<span>stagiaire développeur</span>
</div>

<div class="details-info">
<a href="#">Détails</a>

<p>information personnel</p>

<p>makepe BM,Douala,came</p>

<p>Nationalité:Camerounais</p>

<p>Etudie à IUT de Douala</p>

</div>

</div>

<div class="info-details">
<p>date d'embauche<br>02/02/2025</p>

<p>wabogeovani5@gmail.com</p>

<p>699576873</p>
</div>

<div class="description-details">
<h3>description</h3>

<!-- <p>
stagiare développeur chez Expertiz consulting
passionné par java script et react, je contribu a
l'optimisation d'interface utilisateur tout en
approfondissant mes compétences
</p> -->

</div>

</div>


<!-- PARTIE DROITE -->
<div class="formulaire-details">

<h2>Modifier l'employé</h2>

<input type="text" placeholder="Département:">

<input type="text" placeholder="poste:">

<input type="email" placeholder="Email: wabogeovani5@Expertiz.com">

<input type="password" placeholder="mots de passe: ************">

<div class="btn-details">

<button class="save-details" onclick="window.location.href='gestion des employé.html'">enregistrer</button>

<button class="cancel-details" onclick="window.location.href='gestion des employé.html'">Annuler</button>

</div>

</div>

</div>
</div>

</body>
</html>
