<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style_poste.css"> 
    <title>Poste</title>
</head>
<body>

     
    
    <!-- Sidebar -->
    <!-- <nav class="sidebar">
        <div class="sidebar-logo">
            <img src="/image/image006.jpg" alt="Logo">
        </div>
        <ul class="sidebar-menu">
            <li><a href="../index.html"><img src="/image/3388840.png" alt="Accueil"><span>Accueil</span></a></li>
            <li><a href="../employe/gestion des employé.html"><img src="/image/631050.png" alt="Employé"><span>Employé</span></a></li>
            <li><a href="../departement/departement.html"><img src="/image/1570970.png" alt="Département"><span>Département</span></a></li>
            <li><a href="poste.html"><img src="/image/4994936.png" alt="Poste"><span>Poste</span></a></li>
            <li><a href="../archive/archive.html"><img src="/image/1343124.png" alt="Archive"><span>Archive</span></a></li>
        </ul>
        <div class="sidebar-deconnexion">
            <a href="../registre/connexion.html"><img src="/image/6811880.png" alt="déconnexion"><span>Déconnexion</span></a>
        </div>
    </nav> -->

    <div class="depart">
        <div class="couleur">
    <h1>Poste</h1>
    </div>
    <div class="gauche2">
        <button class="retour2">
<a href="/Dashboard/dashboard.html"><img src="/image/3585896.png" alt="retour"></a>
        </button>
    </div>
    <div class="droite2">
        <button class="ajouter2">
            <a href="ajouter poste.html"><img src="/image/1828921.png" alt="ajouter"></a>
        </button>
    </div>
    
    <div id="postesList" class="postes-container" style="margin-top: 20px;">
      <div id="postesTable" style="display: flex; flex-direction: column; gap: 10px; max-width: 800px;">
        <!-- Postes loaded here dynamically -->
      </div>
    </div>
    
<script src="script_poste.js"></script>
</div> 

</body>
</html>