<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style_inscription.css">
  <title>Inscription</title>
</head>
<body>
  <div class="inscription">
    <h1>Créer un compte utilisateur</h1>
    
    <form class="form-inscription">
      <div class="form-group">
        
        <input type="text" placeholder="Nom:" required>
      </div>
      
      <div class="form-group">
        
        <input type="text" placeholder="Prénom:" required>
      </div>
      
      <div class="form-group">
        
        <input type="tel" placeholder="Tel:" required>
      </div>
      
      <div class="form-group">
        
        <input type="email" placeholder="Email:" required>
      </div>
      
      <div class="form-group">
        
        <input type="password" placeholder="Mot de passe:" required>
      </div>
      
      <button type="submit" class="btn-inscription">S'inscrire</button>
    </form>
    
    <p class="lien-connexion">
      Vous avez déjà un compte ?
       <a href="../index.html"><br>Se connecter</a>
    </p>
  </div>
</body>
</html>

