<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Employés Archivés</title>
  <link rel="stylesheet" href="/css/style_gestion.css">
  <script src="/employe/script_archives.js"></script>
</head>
<body>

<div class="container">

  <h1>Employés Archivés</h1>

  <!-- Barre de recherche -->
  <form>
    <div class="search">
      <input type="text" placeholder="Recherche archivé...">
      <button type="submit" class="search-btn">
       <img src="/image/17821834.png" alt="loupe" >
      </button>
    </div>
  </form>

  <div class="gauche2">
    <a href="/employe/gestion des employé.html" class="retour2">
      <img src="/image/3585896.png" alt="retour">
    </a>
  </div>

  <div class="droite2">
      <button class="ajouter2">
          <a href="/employe/gestion des employé.html"><img src="/image/1828921.png" alt="actifs"></a>
      </button>
  </div>

  <!-- Liste dynamique archives -->
  <div id="archives-list"></div>

</div>

</body>
</html>
