<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Gestion des employés</title>
<link rel="stylesheet" href="/css/style_gestion.css">
  <script src="/employe/script.js"></script>

</head>
<body>

<div class="container">

  <h1>Gestion Des Employés</h1>

  <!-- Barre de recherche -->
   <!-- Bouton retour -->


<!-- Barre de recherche -->
 <form>
<div class="search">
  <input type="text" placeholder="Recherche...">
  <button type="submit" class="search-btn">
   <img src="/image/17821834.png" alt="loupe" >
  </button>
</div>
</form>

<div class="gauche2">
  <a href="/Dashboard/dashboard.html" class="retour2">
    <img src="/image/3585896.png" alt="retour">
  </a>
</div>
  <!-- <div class="search">
    <input type="text" placeholder="Recherche">
    <button type="submit"><img src="/image/17821834.png" alt="retour"></button>
  </div>

      <div class="gauche2">
       <a href="/Dashboard/dashboard.html" class="retour2">
  <img src="/image/3585896.png" alt="retour">
</a>
    </div> -->
    <div class="droite2">
        <button class="ajouter2">
            <a href="Ajouter un employé.html"><img src="/image/1828921.png" alt="ajouter"></a>
        </button>
    </div>

<!-- Liste dynamique des employés -->
  <div id="employees-list"></div>

</div>

</body>
</html>
