<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/style_sidebar.css">

<title>Sidebar</title>
</head>

<body>

<input type="checkbox" id="menu-toggle">

<label for="menu-toggle" class="menu-btn">☰</label>

<nav class="sidebar">

<div class="sidebar-logo">
<img src="/image/image006.jpg" alt="Logo">
</div>

<ul class="sidebar-menu">

<li>
<a href="/Dashboard/dashboard.html">
<img src="/image/3388840.png">
<span>Accueil</span>
</a>
</li>

<li>
<a href="gestion des employé.html">
<img src="/image/631050.png">
<span>Employé</span>
</a>
</li>

<li>
<a href="departement.html">
<img src="/image/1570970.png">
<span>Département</span>
</a>
</li>

<li>
<a href="poste.html">
<img src="/image/4994936.png">
<span>Poste</span>
</a>
</li>

<li>
<a href="archive.html">
<img src="/image/1343124.png">
<span>Archive</span>
</a>
</li>

</ul>

<div class="sidebar-deconnexion">
<a href="/index.html">
<img src="/image/6811880.png">
<span>Déconnexion</span>
</a>
</div>

</nav>

</body>
</html>
